body {
    background:  #e8a87c;
  }
  header {
      background-color: #085DCD;
      color: white;
      padding: 30px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
section {
    color: black;
}
.textop {
    text-align: center;
}
li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  /* Стили для мобильных устройств */
@media (max-width: 480px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
/* Стили для планшетов и десктопов */
@media (min-width: 481px) {
    /* Дополнительные стили при необходимости */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#cross{
    float: right;
    margin-top: -107px;
    right: -176px;
    width: 140px;
    }
   